* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e0e0ce;
}

h1,
h2,
h3,
h4,
h5,
h6,
pre {
  font-family: "Zilla Slab", serif;
}

main > div > section {
  margin: 5em 0 5em 0;
}
/***** HEADER *****/

.header_background {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(./assets/header_background.jpg);
  /* background-repeat: repeat-x; */
  background-size: cover;
  background-position: center;
}

.nav-bar {
  z-index: 100;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0 2em 0 2em;
}
header > div > h2 > a {
  color: coral;
  text-decoration: none;
}
header > div > h2 > a:hover {
  color: #d2691e;
}

.nav-bar_links > a {
  display: inline-block;
  list-style: none;
  margin-left: 1em;
}

.nav-bar_links > .icon {
  margin-left: 0;
  display: none;
}
.nav-bar_links > a {
  font-family: "Zilla Slab", serif;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
}
.nav-bar_links > a:hover {
  letter-spacing: 2px;
  color: darkgrey;
  transition: all 0.2s ease;
}

.text-block {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: bisque;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-block h1 {
  font-size: 3em;
  margin: 0.5em;
}
.text-block h2 {
  font-size: 2em;
  margin-bottom: 1.2em;
}

.text-block button {
  font-weight: bolder;
  border-radius: 5px;
  border: 2px solid bisque;
  background-color: transparent;
  color: bisque;
  padding: 14px 28px;
  font-size: 1em;
  cursor: pointer;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.text-block button:hover {
  background-color: bisque;
  color: #724c0b;
  text-shadow: none;
  transition: all 0.2s ease;
}

/***** MAIN *****/

.container {
  padding: 0 0.5em 0 0.5em;
  max-width: 2600px;
  margin: auto;
  text-align: center;
}

/***** LOCATION *****/

.container > section > h1 {
  font-size: 2.5em;
  color: #32240f;
  margin-bottom: 1.2em;
}

#pre-tag {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 15px;
}

pre {
  font-size: 3em;
  margin-top: 2em;
  text-align: left;
  overflow-x: auto;
  padding: 0 1em 0 1em;
  line-height: 1.5em;
}

/***** GALLERY *****/

.gallery-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.gallery-grid-wrapper > img {
  width: 100%;
}
.nested-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
}
.nested-grid > img {
  width: 100%;
}

/***** BEER *****/

.beer-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5em;
  justify-items: center;
}

.beer-grid-wrapper > div {
  width: 50%;
}

.beer-grid-wrapper > div > img {
  max-height: 300px;
  max-width: max-content;
  width: 100%;
  margin: 2em 0 1em 0;
}

.beer-grid-wrapper > div > p {
  text-align: center;
}

/***** TEAM *****/

.team-grid-wrapper {
  margin: 0 0.5em 0 0.5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.team-grid-wrapper > div {
  width: 100%;
}

.team-grid-wrapper > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/***** FOOTER *****/

footer {
  text-align: center;
  color: rgb(181, 181, 181);
  background-color: #1c2321;
  padding: 2em 1em 2em 1em;
  line-height: 2em;
}

footer > a {
  color: #d2691e;
}
footer > a > i {
  margin-right: 0.5em;
}

/***** MEDIA QUERIES *****/

@media screen and (max-width: 768px) {
  /***** BEER SECTION *****/
  .beer-grid-wrapper > div {
    width: 70%;
  }
  /***** TEAM SECTION *****/
  .team-grid-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
  }
}

@media screen and (max-width: 600px) {
  /***** HEADER SECTION *****/

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). 
Show the link that contains should open and close the topnav (.icon) */

  .nav-bar_links a {
    display: none;
  }
  .nav-bar_links a.icon {
    float: right;
    display: block;
  }

  /* The "responsive" class is added to the nav-bar_links with JavaScript when the user clicks on the icon. 
This class makes the nav-bar_links look good on small screens (display the links vertically instead of horizontally) */

  .nav-bar_links.responsive {
    position: relative;
    padding-top: 180px;
    transition: all 0.2s ease;
  }

  .nav-bar_links.responsive a.icon {
    background-color: none;
    position: fixed;
    right: 2em;
    top: 16px;
  }

  .nav-bar_links.responsive a:not(.icon) {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px 20px 5px 10px;
    width: 6rem;
    float: none;
    display: block;
    text-align: right;
  }
  #myTopnav > a:nth-child(1) {
    padding-top: 9px;
  }

  #myTopnav > a:nth-child(4) {
    padding-bottom: 15px;
  }

  .nav-bar_links {
    transition: all 0.2s ease;
  }

  /***** BEER SECTION *****/

  .beer-grid-wrapper {
    grid-template-columns: 1fr;
  }

  .beer-grid-wrapper > div {
    width: 80%;
  }

  /***** TEAM SECTION *****/
  .team-grid-wrapper {
    grid-template-columns: 1fr;
  }
}
